<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- for now you must manually edit this file -->
<settings>
    <!-- no slash at end of paths (only use one path to videos, you may leave path blank if using database for your listing) -->
    <!--setting title="Path to videos [optional w/database]" type="folder" option="files" enable="" name="path">smb://SERVER/SHARE/OPT_FOLDER</setting-->
    <setting title="Path to videos [optional w/database]" type="folder" option="files" enable="" name="path">F:\\Videos</setting>
    
    <!-- passwords are plain text -->
    <setting title="SMB username" type="string" option="" enable="path=smb://" name="username">Guest</setting>
    <setting title="SMB password" type="string" option="hidden" enable="path=smb://" name="password"></setting>
    
    <!-- no slash at end of paths -->
    <setting title="Path to coming attractions video [optional]" type="video" option="files" enable="" name="trailer_intro_path"></setting>
    <setting title="Path to feature presentation video [optional]" type="video" option="files" enable="" name="movie_intro_path"></setting>
    <setting title="Path to end of feature presentation video [optional]" type="video" option="files" enable="" name="movie_end_path"></setting>
    
    <!-- 0=do not use the database, 1=use the database for your video listing -->
    <setting title="Query database for videos" type="bool" option="" enable="" name="use_db">0</setting>
    
    <!-- 0=do not limit by genre or rating, 1=limit by genre or rating (rquires use_db=1) -->
    <setting title="Limit trailer results by genre and mpaa rating of movie" type="bool" option="" enable="use_db=1" name="limit_query">1</setting>
    
    <!-- choose one of the following or leave blank for any: G PG PG-13 R NC-17 -->
    <setting title="MPAA rating limit" type="select" option="G,PG,PG-13,R,NC-17,-" enable="" name="rating"></setting>
    
    <!-- an integer is required -->
    <setting title="Number of trailers to play" type="select int" option="1,2,3,4,5,6,7,8,9,10" enable="" name="number_trailers">3</setting>
    
    <!-- choose one of the following: Low Medium High 480p 720p 1080p -->
    <setting title="Preferred trailer quality" type="select" option="Low,Medium,High,480p,720p,1080p" enable="" name="quality">High</setting>
    
    <!-- 0=any type of trailers, 1=only include trailers that have a 720p or 1080p quality -->
    <setting title="Include only HD trailers" type="bool" option="" enable="" name="only_hd">0</setting>
</settings>
