<window>
	<!--
    The <resolution> tag is used for the setCoordinateResolution() function.
    
	You may move, add or delete any controls you want as long as they're not Required.
	With one exception, required controls <description> tag and <type> tag MUST NOT be changed.
	The exception is <type>label</type> may be changed to <type>button</type>.	This allows 
	<shadowcolor> tag to be used. (set <texturenofocus>-</texturenofocus> if doing this.)
	
	<include> tags DO NOT work and the defaults.xml file WILL NOT be used for any missing tags.
	
	To use special images from the /gfx/ folder prepend a \. (eg <texture>\background.png</texture>)
	
-->
	<defaultcontrol>10</defaultcontrol>
	<resolution>PAL</resolution>
	<coordinates>
		<system>1</system>
		<posx>0</posx>
		<posy>0</posy>
	</coordinates>
	<controls>
		<control type="image" id="1">
			<description>backdrop</description>
			<posx>-300</posx>
			<posy>-300</posy>
			<width>1300</width>
			<height>1300</height>
			<texture>guide-black.png</texture>
			<colordiffuse>D0FFFFFF</colordiffuse>
		</control>
		<control type="image" id="1">
			<description>Guide Blade Background</description>
			<posx>300</posx>
			<posy>0</posy>
			<width>512</width>
			<height>576</height>
			<texture>background-grey.png</texture>
		</control>
		<control type="image">
			<description>Guide Blade Overlay</description>
			<posx>398</posx>
			<posy>0</posy>
			<width>400</width>
			<height>576</height>
			<texture>guide-blade-overlay-tile.png</texture>
		</control>
		<control type="image">
			<description>Guide Edge Overlay</description>
			<posx>270</posx>
			<posy>0</posy>
			<width>128</width>
			<height>576</height>
			<texture>guide-blade-overlay-edge-right.png</texture>
		</control>
		<!-- labels -->
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="label" id="1">
			<description>Title Label</description>
			<posx>365</posx>
			<posy>40</posy>
			<width>270</width>
			<align>left</align>
			<font>font18</font>
			<textcolor>FFFFFFFF</textcolor>
			<label>0</label>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="label" id="1">
			<description>Version Label</description>
			<posx>680</posx>
			<posy>90</posy>
			<font>font14</font>
			<width>200</width>
			<align>right</align>
			<textcolor>FF000000</textcolor>
			<label>1.1</label>
		</control>
		<!-- buttons -->
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="10">
			<description>Scraper Button</description>
			<posx>365</posx>
			<posy>130</posy>
			<width>315</width>
			<height>30</height>
			<align>left</align>
			<aligny>center</aligny>
			<label>30</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>iconlist-focus.png</texturefocus>
			<texturenofocus>iconlist-nofocus.png</texturenofocus>
			<onleft>10</onleft>
			<onright>10</onright>
			<onup>100</onup>
			<ondown>20</ondown>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="11">
			<description>Scraper Button Value</description>
			<posx>365</posx>
			<posy>130</posy>
			<width>315</width>
			<height>30</height>
			<align>right</align>
			<aligny>center</aligny>
			<label>-</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>-</texturefocus>
			<texturenofocus>-</texturenofocus>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="20">
			<description>Save Lyrics Button</description>
			<posx>365</posx>
			<posy>160</posy>
			<width>315</width>
			<height>30</height>
			<align>left</align>
			<aligny>center</aligny>
			<label>31</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>iconlist-focus.png</texturefocus>
			<texturenofocus>iconlist-nofocus.png</texturenofocus>
			<onleft>20</onleft>
			<onright>20</onright>
			<onup>10</onup>
			<ondown>30</ondown>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="21">
			<description>Save Lyrics Button Value</description>
			<posx>365</posx>
			<posy>160</posy>
			<width>315</width>
			<height>30</height>
			<align>right</align>
			<aligny>center</aligny>
			<label>-</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>-</texturefocus>
			<texturenofocus>-</texturenofocus>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="30">
			<description>Save Folder Button</description>
			<posx>365</posx>
			<posy>190</posy>
			<width>315</width>
			<height>30</height>
			<align>left</align>
			<aligny>center</aligny>
			<label>32</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>iconlist-focus.png</texturefocus>
			<texturenofocus>iconlist-nofocus.png</texturenofocus>
			<onleft>30</onleft>
			<onright>30</onright>
			<onup>20</onup>
			<ondown>40</ondown>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="31">
			<description>Save Folder Button Value</description>
			<posx>365</posx>
			<posy>190</posy>
			<width>315</width>
			<height>30</height>
			<align>right</align>
			<aligny>center</aligny>
			<label>-</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>-</texturefocus>
			<texturenofocus>-</texturenofocus>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="40">
			<description>Smooth Scroll Button</description>
			<posx>365</posx>
			<posy>220</posy>
			<width>315</width>
			<height>30</height>
			<align>left</align>
			<aligny>center</aligny>
			<label>33</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>iconlist-focus.png</texturefocus>
			<texturenofocus>iconlist-nofocus.png</texturenofocus>
			<onleft>40</onleft>
			<onright>40</onright>
			<onup>30</onup>
			<ondown>50</ondown>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="41">
			<description>Smooth Scroll Button Value</description>
			<posx>365</posx>
			<posy>220</posy>
			<width>315</width>
			<height>30</height>
			<align>right</align>
			<aligny>center</aligny>
			<label>-</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>-</texturefocus>
			<texturenofocus>-</texturenofocus>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="50">
			<description>Show Viz Button</description>
			<posx>365</posx>
			<posy>250</posy>
			<width>315</width>
			<height>30</height>
			<align>left</align>
			<aligny>center</aligny>
			<label>34</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>iconlist-focus.png</texturefocus>
			<texturenofocus>iconlist-nofocus.png</texturenofocus>
			<onleft>50</onleft>
			<onright>50</onright>
			<onup>40</onup>
			<ondown>100</ondown>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="51">
			<description>Show Viz Button Value</description>
			<posx>365</posx>
			<posy>250</posy>
			<width>315</width>
			<height>30</height>
			<align>right</align>
			<aligny>center</aligny>
			<label>-</label>
			<font>font13</font>
			<textcolor>FF000000</textcolor>
			<textoffsetx>10</textoffsetx>
			<texturefocus>-</texturefocus>
			<texturenofocus>-</texturenofocus>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="100">
			<description>Ok Button</description>
			<posx>375</posx>
			<posy>420</posy>
			<width>90</width>
			<height>50</height>
			<font>font12</font>
			<align>center</align>
			<label>50</label>
			<textcolor>FF000000</textcolor>
			<textoffsety>7</textoffsety>
			<texturefocus>guide-media-button-focus.png</texturefocus>
			<texturenofocus>guide-media-button-nofocus.png</texturenofocus>
			<onleft>200</onleft>
			<onright>150</onright>
			<onup>50</onup>
			<ondown>10</ondown>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="150">
			<description>Cancel Button</description>
			<posx>475</posx>
			<posy>420</posy>
			<width>90</width>
			<height>50</height>
			<font>font12</font>
			<align>center</align>
			<label>51</label>
			<textcolor>FF000000</textcolor>
			<textoffsety>7</textoffsety>
			<texturefocus>guide-media-button-focus.png</texturefocus>
			<texturenofocus>guide-media-button-nofocus.png</texturenofocus>
			<onleft>100</onleft>
			<onright>200</onright>
			<onup>50</onup>
			<ondown>10</ondown>
		</control>
		<!-- ** Required ** Do not change <description> or <type> -->
		<control type="button" id="200">
			<description>Update Button</description>
			<posx>575</posx>
			<posy>420</posy>
			<width>90</width>
			<height>50</height>
			<font>font12</font>
			<label>52</label>
			<align>center</align>
			<textcolor>FF000000</textcolor>
			<textoffsety>7</textoffsety>
			<texturefocus>guide-media-button-focus.png</texturefocus>
			<texturenofocus>guide-media-button-nofocus.png</texturenofocus>
			<onleft>150</onleft>
			<onright>100</onright>
			<onup>50</onup>
			<ondown>10</ondown>
		</control>
		<control type="image">
			<description>Back Button</description>
			<posx>650</posx>
			<posy>475</posy>
			<width>21</width>
			<height>21</height>
			<texture>button-Back.png</texture>
		</control>
		<control type="image">
			<description>A Button</description>
			<posx>665</posx>
			<posy>498</posy>
			<width>21</width>
			<height>21</height>
			<texture>button-A.png</texture>
		</control>
		<control type="image">
			<description>Y Button</description>
			<posx>380</posx>
			<posy>475</posy>
			<width>21</width>
			<height>21</height>
			<texture>button-Y-turnedoff.png</texture>
		</control>
		<control type="image">
			<description>X Button</description>
			<posx>365</posx>
			<posy>498</posy>
			<width>21</width>
			<height>21</height>
			<texture>button-X-turnedoff.png</texture>
		</control>
		<control type="label">
			<description>Back Label</description>
			<posx>642</posx>
			<posy>479</posy>
			<label>Back</label>
			<align>right</align>
			<font>font12</font>
			<textcolor>FFFFFFFF</textcolor>
		</control>
		<control type="label">
			<description>Select Label</description>
			<posx>656</posx>
			<posy>501</posy>
			<label>Select</label>
			<align>right</align>
			<font>font12</font>
			<textcolor>FFFFFFFF</textcolor>
		</control>
	</controls>
</window>