<?xml version="1.0" ?>
<settings name="Flickr Settings">
       <param id="email" name="Email Address" type="string">
               <value><![CDATA[Change Me]]></value>
       </param>
       <param id="aspect" name="Aspect Ratio" type="select">
               <option>16:9</option>
               <option>4:3</option>
               <value>1</value>
       </param>          
       <param id="skin" name="Skin Folder" type="string">
               <value><![CDATA[PM3]]></value>
       </param>
</settings>