<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<emulators>
    <emu>Super Nintendo</emu>
        <emupath>E:\emulators\zsnexbox\default.xbe</emupath>
        <rompath>E:\emulators\zsnexbox\roms\</rompath>
        <romext>zip</romext>
        <icon>E:\emulators\zsnexbox\default.tbn</icon>
    <emu>Sega Genesis</emu>
        <emupath>e:\apps\emulators\neogenesis\default.xbe</emupath>
        <rompath>e:\apps\emulators\neogenesis\sgenroms\</rompath>
        <romext>zip</romext>
        <icon>q:\scripts\emuLauncher\images\genesis.png</icon>
    <emu>Nintendo 8-Bit</emu>
        <emupath>E:\emulators\fceultra_v16\default.xbe</emupath>
        <rompath>E:\emulators\fceultra_v16\roms\</rompath>
        <romext>zip</romext>
        <icon>E:\emulators\fceultra_v16\default.png</icon>
</emulators>