<window>
 <id>130</id>
 <defaultcontrol>10</defaultcontrol>
 <coordinates>
   <system>1</system>
   <posx>161</posx>
   <posy>132</posy>
 </coordinates>
 <resolution>PAL</resolution>

<controls>

 <control>
	<description>backdrop</description>
	<type>image</type>
	<id>0</id>
	<posx>-300</posx>
	<posy>-300</posy>
	<width>1300</width>
	<height>1300</height>
	<texture>black.png</texture>
 </control>

 <control>
	<description>background image</description>
	<type>image</type>
	<id>1</id>
	<posx>-25</posx>
	<posy>-11</posy>
	<width>446</width>
	<height>406</height>
	<texture>\background-settings.png</texture>
 </control>

 <control>
	<description>Title Label</description>
	<type>label</type>
	<id>1</id>
	<posx>10</posx>
	<posy>6</posy>
	<width>280</width>
	<align>left</align>
	<font>special13</font>
	<textcolor>DDced8da</textcolor>
	<label>Apple Movie Trailers</label>
 </control>
  
   <control>
	<description>Skin Button</description>
	<type>button</type>
	<id>10</id>
	<posx>0</posx>
	<posy>70</posy>
	<width>400</width>
	<height>32</height>
	<align>left</align>
	<aligny>center</aligny>
	<label>-</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<textoffsetx>10</textoffsetx>
	<texturefocus>input-focus.png</texturefocus>
	<texturenofocus>-</texturenofocus>
	<onleft>150</onleft>
	<onright>100</onright>
	<onup>210</onup>
	<ondown>20</ondown>
 </control>

 <control>
	<description>Trailer Quality Button</description>
	<type>button</type>
	<id>20</id>
	<posx>0</posx>
	<posy>105</posy>
	<width>400</width>
	<height>32</height>
	<align>left</align>
	<aligny>center</aligny>
	<label>-</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<textoffsetx>10</textoffsetx>
	<texturefocus>input-focus.png</texturefocus>
	<texturenofocus>-</texturenofocus>
	<onleft>150</onleft>
	<onright>100</onright>
	<onup>10</onup>
	<ondown>30</ondown>
 </control>

 <control>
	<description>Mode Button</description>
	<type>button</type>
	<id>30</id>
	<posx>0</posx>
	<posy>140</posy>
	<width>400</width>
	<height>32</height>
	<align>left</align>
	<aligny>center</aligny>
	<label>-</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<textoffsetx>10</textoffsetx>
	<texturefocus>input-focus.png</texturefocus>
	<texturenofocus>-</texturenofocus>
	<onleft>150</onleft>
	<onright>100</onright>
	<onup>20</onup>
	<ondown>40</ondown>
 </control>

 <control>
	<description>Save Folder Button</description>
	<type>button</type>
	<id>40</id>
	<posx>0</posx>
	<posy>175</posy>
	<width>400</width>
	<height>32</height>
	<align>left</align>
	<aligny>center</aligny>
	<label>-</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<textoffsetx>10</textoffsetx>
	<texturefocus>input-focus.png</texturefocus>
	<texturenofocus>-</texturenofocus>
	<onleft>150</onleft>
	<onright>100</onright>
	<onup>30</onup>
	<ondown>50</ondown>
 </control>
 
 <control>
	<description>Startup Category Button</description>
	<type>button</type>
	<id>50</id>
	<posx>0</posx>
	<posy>210</posy>
	<width>400</width>
	<height>32</height>
	<align>left</align>
	<aligny>center</aligny>
	<label>-</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<textoffsetx>10</textoffsetx>
	<texturefocus>input-focus.png</texturefocus>
	<texturenofocus>-</texturenofocus>
	<onleft>150</onleft>
	<onright>100</onright>
	<onup>40</onup>
	<ondown>60</ondown>
 </control>

 <control>
	<description>Thumbnail Display Button</description>
	<type>button</type>
	<id>60</id>
	<posx>0</posx>
	<posy>245</posy>
	<width>400</width>
	<height>32</height>
	<align>left</align>
	<aligny>center</aligny>
	<label>-</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<textoffsetx>10</textoffsetx>
	<texturefocus>input-focus.png</texturefocus>
	<texturenofocus>-</texturenofocus>
	<onleft>150</onleft>
	<onright>100</onright>
	<onup>50</onup>
	<ondown>210</ondown>
 </control>
 
 <control>
	<description>Update Button</description>
	<type>button</type>
	<id>200</id>
	<posx>-3</posx>
	<posy>325</posy>
	<width>90</width>
	<height>32</height>
	<align>center</align>
	<aligny>center</aligny>
	<label>Update</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<disabledcolor>60ffffff</disabledcolor>
	<textoffsetx>17</textoffsetx>
	<texturenofocus>keyboard-btn-backspace.png</texturenofocus>
	<texturefocus>keyboard-btn-backspace-focus.png</texturefocus>
	<onleft>150</onleft>
	<onright>210</onright>
	<onup>60</onup>
	<ondown>10</ondown>
 </control>
 
 <control>
	<description>Credits Button</description>
	<type>button</type>
	<id>210</id>
	<posx>92</posx>
	<posy>325</posy>
	<width>90</width>
	<height>32</height>
	<align>center</align>
	<aligny>center</aligny>
	<label>Credits</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<disabledcolor>60ffffff</disabledcolor>
	<textoffsetx>17</textoffsetx>
	<texturenofocus>keyboard-btn-backspace.png</texturenofocus>
	<texturefocus>keyboard-btn-backspace-focus.png</texturefocus>
	<onleft>200</onleft>
	<onright>100</onright>
	<onup>60</onup>
	<ondown>10</ondown>
 </control>
 
 <control>
	<description>Ok Button</description>
	<type>button</type>
	<id>100</id>
	<posx>223</posx>
	<posy>325</posy>
	<width>90</width>
	<height>32</height>
	<align>center</align>
	<aligny>center</aligny>
	<label>186</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<textoffsetx>17</textoffsetx>
	<texturenofocus>keyboard-btn-backspace.png</texturenofocus>
	<texturefocus>keyboard-btn-backspace-focus.png</texturefocus>
	<onleft>210</onleft>
	<onright>150</onright>
	<onup>60</onup>
	<ondown>10</ondown>
 </control>

 <control>
	<description>Cancel Button</description>
	<type>button</type>
	<id>150</id>
	<posx>318</posx>
	<posy>325</posy>
	<width>90</width>
	<height>32</height>
	<align>center</align>
	<aligny>center</aligny>
	<label>222</label>
	<font>font10</font>
    <textcolor>ffffffff</textcolor>
	<textoffsetx>17</textoffsetx>
	<texturenofocus>keyboard-btn-backspace.png</texturenofocus>
	<texturefocus>keyboard-btn-backspace-focus.png</texturefocus>
	<onleft>100</onleft>
	<onright>200</onright>
	<onup>60</onup>
	<ondown>10</ondown>
 </control>
 
  <control>
	<description>Popup Image</description>
	<type>image</type>
	<id>500</id>
	<posx>70</posx>
	<posy>70</posy>
	<width>260</width>
	<height>240</height>
	<texture>dialog-panel.png</texture>
	<visible>false</visible>
 </control>
 
 <control>
	<description>Popup Thumb</description>
	<type>image</type>
	<id>501</id>
	<posx>195</posx>
	<posy>113</posy>
	<width>128</width>
	<height>72</height>
	<texture>-</texture>
	<visible>false</visible>
	<aspectratio>keep</aspectratio>
 </control>
 
 <control>
	<description>Popup Label</description>
	<type>label</type>
	<id>502</id>
	<posx>85</posx>
	<posy>75</posy>
	<width>150</width>
	<align>left</align>
	<font>font10</font>
	<textcolor>DDced8da</textcolor>
	<label>choose skin</label>
	<visible>false</visible>
 </control>
 
  <control>
  <description>Popup List</description>
  <type>listcontrol</type>
  <id>503</id>
  <posx>83</posx>
  <posy>115</posy>
  <width>110</width>
  <height>170</height>
  <spinwidth>18</spinwidth>
  <spinheight>16</spinheight>
  <spinposx>419</spinposx>
  <spinposy>404</spinposy>
  <spincolor>ffffffff</spincolor>
  <spinfont>font10</spinfont>
  <textureup>scroll-up.png</textureup>
  <texturedown>scroll-down.png</texturedown>
  <textureupfocus>scroll-up-focus.png</textureupfocus>
  <texturedownfocus>scroll-down-focus.png</texturedownfocus>
  <texturefocus>list-focus.png</texturefocus>
  <texturenofocus>list-nofocus.png</texturenofocus>
  <image>icon-folder.png</image>
  <textureheight>20</textureheight>
  <font>font10</font>
	<textcolor>ffffffff</textcolor>
  <suffix>|</suffix>
  <textxoff>-25</textxoff>
  <textxoff2>0</textxoff2>
  <aligny>center</aligny>
  <visible>false</visible>
 </control>






  <control>
	<description>Credits Image</description>
	<type>image</type>
	<id>600</id>
	<posx>70</posx>
	<posy>70</posy>
	<width>260</width>
	<height>240</height>
	<texture>dialog-panel.png</texture>
	<visible>false</visible>
 </control>
 
 <control>
	<description>Credits Label</description>
	<type>label</type>
	<id>601</id>
	<posx>85</posx>
	<posy>75</posy>
	<width>150</width>
	<align>left</align>
	<font>font10</font>
	<textcolor>DDced8da</textcolor>
	<label>Apple Movie Trailers</label>
	<visible>false</visible>
 </control>
 
 <control>
	<description>Version Label</description>
	<type>label</type>
	<id>602</id>
	<posx>320</posx>
	<posy>75</posy>
	<width>150</width>
	<align>right</align>
	<font>font10</font>
	<textcolor>DDced8da</textcolor>
	<label>Version: 1.0 pre</label>
	<visible>false</visible>
 </control>

 <control>
	<description>Team Credits Label</description>
	<type>label</type>
	<id>603</id>
	<posx>95</posx>
	<posy>120</posy>
	<width>200</width>
	<align>left</align>
	<font>font10</font>
	<textcolor>60ffffff</textcolor>
	<label>Team Credits:</label>
	<visible>false</visible>
 </control>

 <control>
  <description>Team Credits List</description>
  <type>listcontrol</type>
  <id>604</id>
  <posx>83</posx>
  <posy>140</posy>
  <width>247</width>
  <height>100</height>
  <spinwidth>18</spinwidth>
  <spinheight>16</spinheight>
  <spinposx>419</spinposx>
  <spinposy>404</spinposy>
  <spincolor>ffffffff</spincolor>
  <spinfont>font10</spinfont>
  <textureup>scroll-up.png</textureup>
  <texturedown>scroll-down.png</texturedown>
  <textureupfocus>scroll-up-focus.png</textureupfocus>
  <texturedownfocus>scroll-down-focus.png</texturedownfocus>
  <texturefocus>-</texturefocus>
  <texturenofocus>-</texturenofocus>
  <image>icon-folder.png</image>
  <textureheight>20</textureheight>
  <font>font10</font>
	<textcolor>ffffffff</textcolor>
  <suffix>|</suffix>
  <textxoff>-25</textxoff>
  <textxoff2>0</textxoff2>
  <aligny>center</aligny>
  <visible>false</visible>
 </control>

 <control>
	<description>Skin Credits Label</description>
	<type>label</type>
	<id>605</id>
	<posx>95</posx>
	<posy>220</posy>
	<width>200</width>
	<align>left</align>
	<font>font10</font>
	<textcolor>60ffffff</textcolor>
	<label>Skin Credits:</label>
	<visible>false</visible>
 </control>

 <control>
  <description>Skin Credits List</description>
  <type>listcontrol</type>
  <id>606</id>
  <posx>83</posx>
  <posy>240</posy>
  <width>247</width>
  <height>80</height>
  <label>Graphics</label>
  <label2>Chokemaniac</label2>
  <spinwidth>18</spinwidth>
  <spinheight>16</spinheight>
  <spinposx>419</spinposx>
  <spinposy>404</spinposy>
  <spincolor>ffffffff</spincolor>
  <spinfont>font10</spinfont>
  <textureup>scroll-up.png</textureup>
  <texturedown>scroll-down.png</texturedown>
  <textureupfocus>scroll-up-focus.png</textureupfocus>
  <texturedownfocus>scroll-down-focus.png</texturedownfocus>
  <texturefocus>-</texturefocus>
  <texturenofocus>-</texturenofocus>
  <image>icon-folder.png</image>
  <textureheight>20</textureheight>
  <font>font10</font>
	<textcolor>ffffffff</textcolor>
  <suffix>|</suffix>
  <textxoff>-25</textxoff>
  <textxoff2>0</textxoff2>
  <aligny>center</aligny>
  <visible>false</visible>
 </control>

 </controls>
</window>